//color varaible
$white:#ffffff;
$rich-orange:#ff8c42;
$warm-orange:#ffb347;
$dark-mode:#11120d;
$green:#00df82;
$Liquid-lava:#f56e0f;
$shade-dark:#030f0f;

$cool-gray:#cbd2d9;




//fonts & weight varaible

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh;
    width:100%;

    display: flex;
    flex-direction: column;
   align-items: center;
   margin: o auto;
background-image:url(image/back-img.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
   position: relative

}

button.mode-btn{
    width: auto;
    padding: 0.7rem;

    position: absolute;
    top: 2rem;
    right: 0;
    transform: translateY(-50%);

    margin-inline-end: 1rem;
    background-color: $dark-mode;
    border-radius: 2rem;
    border-color: $white
    ;
}

header{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
   

    margin-block-start: 4rem;

}
h1{
    width: 100%;
    text-align: center;
   color: $white;
   
}
p.discpt{
    width: 100%;
    margin-block-start: 1rem;
    line-height: 1.3rem;
      color: $white;
      font-weight: 600;
}

//user name input styling

section.User-disply{
    display: flex;
    flex-direction: column;
   
    margin-block-start: 3rem;
    text-align: start;
}
label{
    font-size: 1.5rem;
    color: $white;
    padding: 1rem;
}


input{
    width: 18.85rem;
    height: 3.7rem;

    border-radius:5rem;
    padding-left: 1.5rem;
    background: $shade-dark;
    border: 2px solid $white;
    color: $white;
    font-size: 1.5rem;
    
}
input::placeholder{
    font-size: 1.5rem;
 }

.start-btn {
  padding: 1rem 2.5rem;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background:$shade-dark;
  color: $white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
}


// gradient border animation
.start-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 1.1rem;
  background: linear-gradient(
    270deg,
    $green,
    $warm-orange,
    $Liquid-lava
  );
  background-size: 400% 400%;
  animation: borderFlow 10s linear infinite;
  z-index: -1;
}


.start-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: $shade-dark;
  border-radius: 0.9rem;
  z-index: -1;
}



@keyframes borderFlow {
  0%   { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}