//color varaible
$white:#ffffff;
$rich-orange:#ff8c42;
$warm-orange:#ffb347;
$dark-mode:#11120d;
$green:#00df82;
$darrk-green: rgb(3, 120, 3);
$Liquid-lava:#f57300;
$shade-dark:#030f0f;
$li-blue:#38bdf8;

$cool-gray:#cbd2d9;
$dark-gray:#2b2b2b;
$quiz-header:#2b2b2b;




//fonts & weight varaible

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh; 
    width:100%;
}



button.mode-btn{
    width: auto;
    padding: 0.7rem;

    position: absolute;
    top: 2rem;
    right: 0;
    transform: translateY(-50%);

    margin-inline-end: 1rem;
    background-color: $dark-mode;
    border-radius: 2rem;
    border-color: $white
    ;
}

.bg-wrapper{
background-image:url(image/back-img.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100%;
width: 100%;

display: flex;
flex-direction: column;
align-items: center;

position: relative;
overflow: hidden;
   
} 

header{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
   

    margin-block-start: 4rem;

}
h1{
    width: 100%;
    text-align: center;
   color: $white;
   
}
p.discpt{
    width: 100%;
    margin-block-start: 1rem;
    line-height: 1.3rem;
      color: $white;
      font-weight: 600;
}

//user name input styling

section.user-disply{
    display: flex;
    flex-direction: column;
    position: relative;
    
   
    margin-block-start: 5rem;
    text-align: start;
  

}
label{
    font-size: 1.5rem;
    color: $white;
    padding: 0.5rem;
}

section.user-disply img{
    width: 2rem;
    position: absolute;
    top: 45%;
    left:2rem;
    transform: translateX(-50%);
}

input{
    width: 18.85rem;
    height: 3.8rem;

    border-radius:5rem;
    padding-left: 3.5rem;
    background: $shade-dark;
    border: 2px solid $white;
    color: $white;
    font-size: 1.5rem;
    
}
input::placeholder{
    font-size: 1.5rem;
 }

.start-btn {
  padding: 1rem 2.5rem;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  background:$shade-dark;
  color: $white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}


// gradient border animation
.start-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 1.1rem;
  background: linear-gradient(
    270deg,
    $green,
    $warm-orange,
    $Liquid-lava
  );
  background-size: 400% 400%;
  animation: borderFlow 10s linear infinite;
  z-index: -1;
}


.start-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: $shade-dark;
  border-radius: 0.9rem;
  z-index: -1;
}



@keyframes borderFlow {
  0%   { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}



//style quiz container section
.quiz-container{
    background: $cool-gray;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
   
   
}

section#quizLayer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
   
}
.time-stamp{
    position: relative;
    display: flex;
    flex-direction: column;
   
    width: 100%;
   height: 9.375rem;

    background: $quiz-header;
     border-radius: 0 0 10rem 10rem;
     img{width: 1rem;}
    
}

.progress{
    display: flex;
    gap: 1.3rem;
    position: absolute;
    left: 1.5rem;
    margin-block-start: 1rem;
    width: 90%;
    
}
p#totalQuiz{
    color: $white;
    display: flex;
    align-items: center;
    text-align: center;
  

    background: $shade-dark;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;

    span{display:block; padding: 0 0.4rem;}
}

p#totalTimer{
    display: flex;
    align-items: center;
    text-align: center;
    background: $Liquid-lava;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;

    color: $shade-dark;
    
}


// dark mode visibilty above all layer
.mode-btn   { z-index: 10; display: none;}

.dvd-cricle{
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
   background-color: $shade-dark;
    z-index: 10;
    border-radius: 50%;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    color: $white;
    font-weight: 700;
    font-size: 3.1rem;
    display: none;
    transition: all ease;
    animation: 
    moveX 10s linear infinite alternate, 
    moveY 9s linear infinite alternate;
}

img{width: 100%;}

// animation trigger
@keyframes moveX{
    from {left: 0;}
    to {left: calc(100vw - 0.875rem);}
}

@keyframes moveY{
    from{right: 0;}
    to{top: calc(100vh - 0.875rem);}
}

.quiz-question{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.questionBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    background:$warm-orange;
    position: relative;
    padding: 1rem 1.2rem;
    border-radius: 1.2rem;
}

.twrapper{
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background: $Liquid-lava;
   
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 8px solid $quiz-header ;
    font-weight: bold;
    font-size: 1.2rem;
    color: $white;
    box-sizing: border-box;
}

.twrapper.active{
    border-color: $white;
}

h2.questionNum{
    margin-block-start: 2rem;
    display: flex;
    color: $dark-gray;
    text-transform: capitalize;

}

p.code-name{
    color: $dark-gray;
    font-weight: 100;
    border-bottom: 0.05rem solid $dark-gray;
    width: 100%;
    padding-block-end: 1rem;
}

.question{
    display: flex;
    align-items: start;
    text-align: start;
}



.answers{
    width: 90%;
    margin-block-start: 2rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    text-align: start;
    cursor: pointer;
}

.answer{
    display: flex;
    align-items: start;
    
    padding: 0.7rem;
    border: 2px solid $darrk-green;
    background: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}
button.answer{
    color: $darrk-green;
    font-size: 1.2rem;
}

.answer.active{
 color: $white;
background-color: $green;
cursor: pointer;
border: 2px solid rgb(0, 62, 0);
color: $white;

}

//when answrs is checked users can't checked another
.answers.locked{
    cursor: not-allowed;
    opacity: 0.9;
}



.answer.wrong{
    color: $white;
    background-color:rgb(246, 29, 29) ;
}

.answer.correct{
    background: $darrk-green;
    color: white;
    font-weight: 1.2rem;
}

.next-page{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    min-height: 100%;
    width: 90%;


bottom: 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  width: 90%;
    
    position: absolute;
    bottom: 1rem;

}

.endBtn, .nextBtn{
    width: 6.5rem;
    height: 3rem;

    border-radius: 1rem;
    color: $white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    text-transform: capitalize;
}

.endBtn{
     background: red;
}

.nextBtn{
    background: $darrk-green;
}

.quiz-container{
      
      position: relative; 
}

.hidden{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: $dark-mode;
     color:$white;
}

.hidden{
    display: none;
}
.result-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

    .sucess {
position : relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
 
}

.outer {

  width: 155px;
  height: 155px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top: 4px #4bf838 solid;

  animation: spin 5s linear forwards;
  animation-duration: 0.9s;
  animation-iteration-count: 6;
}

@keyframes spin {
  50% {
    border-top-color: #38bdf8;
  }

  75% {
    border-top-color: #e67e22;
  }

  100% {
    transform: rotate(360deg);
    border-color: #4bf838;
    opacity: 0;
  }
}

.inner-wrapp {
  animation: none;
}

.check {
  width: 170px;
  height: auto;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  transform-origin: center;
border: none;
  animation: check 0.6s ease-in-out forwards;
  animation-delay: 5s;
  opacity: 0;

}

.check-img{
    width: 170px;
    object-fit: cover;
    display: block;
    
}

@keyframes check {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  60% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1.2;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
   
  }
}

h2#resultTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block-start: 1rem;
    text-transform: capitalize;
     font-size: clamp(1.875rem, 3vh, 1.25rem);
     color: $white;
     overflow: hidden;
     white-space: nowrap;
     width: 0;

     animation: typing 3s steps(30, end) forwards;
     animation-delay: 5s;
}

@keyframes typing{
    from{width: 0;}
    to{width: 100%;}
}

p#resultText{
    margin-block-start: 0.6rem;
    font-size: 1.5rem;
    color: $white;
  word-break: break-word;
  width: 200px;
    animation: fadein 1s ease forwards;
    animation-delay: 7s;
    opacity: 0;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-btn {
  padding: 0.9rem 2.4rem;
  margin-block-start: 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem); 
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(270deg, $Liquid-lava, $green, $warm-orange, $li-blue);
  background-size: 600% 600%;
  transition: transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(237, 237, 237, 0.473);

  animation: fadein 1s ease forwards;
   animation-delay: 7s;
   opacity: 0;
}


.animated-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  
  z-index: -1;
  filter: blur(10px);
  animation: gradientMove 5s linear infinite;
}

.animated-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.animated-btn:active {
  transform: scale(0.95);
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
// .bg-wrapper, .quiz-container{
//     display: none;

// }


