* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

button.mode-btn {
  width: auto;
  padding: 0.7rem;
  position: absolute;
  top: 2rem;
  right: 0;
  transform: translateY(-50%);
  margin-inline-end: 1rem;
  background-color: #11120d;
  border-radius: 2rem;
  border-color: #ffffff;
}

.bg-wrapper {
  background-image: url(image/back-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 4rem;
}

h1 {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

p.discpt {
  width: 100%;
  margin-block-start: 1rem;
  line-height: 1.3rem;
  color: #ffffff;
  font-weight: 600;
}

section.user-disply {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-block-start: 5rem;
  text-align: start;
}

label {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0.5rem;
}

section.user-disply img {
  width: 2rem;
  position: absolute;
  top: 45%;
  left: 2rem;
  transform: translateX(-50%);
}

input {
  width: 18.85rem;
  height: 3.8rem;
  border-radius: 5rem;
  padding-left: 3.5rem;
  background: #030f0f;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.5rem;
}

.start-btn {
  padding: 1rem 2.5rem;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  background: #030f0f;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.start-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 1.1rem;
  background: linear-gradient(270deg, #00df82, #ffb347, #f57300);
  background-size: 400% 400%;
  animation: borderFlow 10s linear infinite;
  z-index: -1;
}

.start-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #030f0f;
  border-radius: 0.9rem;
  z-index: -1;
}

@keyframes borderFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
.quiz-container {
  background: #cbd2d9;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}

section#quizLayer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.time-stamp {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 9.375rem;
  background: #2b2b2b;
  border-radius: 0 0 10rem 10rem;
}
.time-stamp img {
  width: 1rem;
}

.progress {
  display: flex;
  gap: 1.3rem;
  position: absolute;
  left: 1.5rem;
  margin-block-start: 1rem;
  width: 90%;
}

p#totalQuiz {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.7rem;
  background: #030f0f;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
}

p#totalTimer {
  display: flex;
  align-items: center;
  text-align: center;
  background: #f57300;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  color: #030f0f;
}

.mode-btn {
  z-index: 10;
  display: none;
}

.dvd-cricle {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #030f0f;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  color: #ffffff;
  font-weight: 700;
  font-size: 3.1rem;
  display: none;
  animation: moveX 10s linear infinite alternate, moveY 9s linear infinite alternate;
}

img {
  width: 100%;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 0.875rem);
  }
}
@keyframes moveY {
  from {
    right: 0;
  }
  to {
    top: calc(100vh - 0.875rem);
  }
}
.quiz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background: #ffb347;
  position: relative;
  padding: 1rem 1.2rem;
  border-radius: 1.2rem;
}

p#timer {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #f57300;
  padding: 1rem;
  border-radius: 100%;
  border: 7px solid #2b2b2b;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

h2.questionNum {
  margin-block-start: 2rem;
  display: flex;
  color: #2b2b2b;
  text-transform: capitalize;
}

p.code-name {
  color: #2b2b2b;
  font-weight: 100;
  border-bottom: 0.05rem solid #2b2b2b;
  width: 100%;
  padding-block-end: 1rem;
}

.question {
  display: flex;
  align-items: start;
  text-align: start;
}

.answers {
  width: 90%;
  margin-block-start: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  text-align: start;
}

.answer {
  display: flex;
  align-items: start;
  padding: 0.6rem;
  border: 2px solid rgb(3, 120, 3);
  background: transparent;
  border-radius: 0.5rem;
}

button.answer {
  color: rgb(3, 120, 3);
  font-size: 1.2rem;
}

.answer.active {
  color: #ffffff;
  background-color: #00df82;
  cursor: pointer;
  border: 2px solid rgb(0, 62, 0);
  color: #ffffff;
}

.answers.locked {
  cursor: not-allowed;
  opacity: 0.9;
}

.answer.wrong {
  background: rgb(234, 52, 52);
  color: #ffffff;
}

.next-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  bottom: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.endBtn, .nextBtn {
  width: 6.5rem;
  height: 3rem;
  border-radius: 1rem;
  background: #2b2b2b;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
}

.quiz-container {
  border: 2px solid red;
  position: relative;
}/*# sourceMappingURL=quiz.css.map */