//color varaible
$white:#ffffff;
$rich-orange:#ff8c42;
$dark-mode:#11120d;
$green:#00df82;
$Liquid-lava:#f56e0f;
$shade-dark:#030f0f;

$cool-gray:#cbd2d9;




//fonts & weight varaible

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh;
    width:100%;

    display: flex;
    flex-direction: column;
   align-items: center;
   margin: o auto;
background-image:url(image/back-img.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
   position: relative

}

button.mode-btn{
    width: auto;
    padding: 0.7rem;

    position: absolute;
    top: 2rem;
    right: 0;
    transform: translateY(-50%);

    margin-inline-end: 1rem;
    background-color: $dark-mode;
    border-radius: 2rem;
}

header{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
   

    margin-block-start: 4rem;

}
h1{
    width: 100%;
    text-align: center;
   color: $white;
   
}
p.discpt{
    width: 100%;
    margin-block-start: 1rem;
    line-height: 1.3rem;
      color: $white;
      font-weight: 600;
}

//user name input styling

section.User-disply{
    display: flex;
    flex-direction: column;
   
    margin-block-start: 3rem;
    text-align: start;
}
label{
    font-size: 1.5rem;
}


input{
    width: 300px;
    height: 50px;

    border-radius:5rem;
    
}
input::placeholder{
    font-size: 1.5rem;
}