//color varaible
$white:#ffffff;
$rich-orange:#ff8c42;
$warm-orange:#ffb347;
$dark-mode:#11120d;
$green:#00df82;
$darrk-green: rgb(3, 120, 3);
$Liquid-lava:#f57300;
$shade-dark:#030f0f;

$cool-gray:#cbd2d9;
$dark-gray:#2b2b2b;
$quiz-header:#2b2b2b;




//fonts & weight varaible

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh; 
    width:100%;
}



button.mode-btn{
    width: auto;
    padding: 0.7rem;

    position: absolute;
    top: 2rem;
    right: 0;
    transform: translateY(-50%);

    margin-inline-end: 1rem;
    background-color: $dark-mode;
    border-radius: 2rem;
    border-color: $white
    ;
}

.bg-wrapper{
background-image:url(image/back-img.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100%;
width: 100%;

display: flex;
flex-direction: column;
align-items: center;

position: relative
   
} 

header{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
   

    margin-block-start: 4rem;

}
h1{
    width: 100%;
    text-align: center;
   color: $white;
   
}
p.discpt{
    width: 100%;
    margin-block-start: 1rem;
    line-height: 1.3rem;
      color: $white;
      font-weight: 600;
}

//user name input styling

section.user-disply{
    display: flex;
    flex-direction: column;
    position: relative;
    
   
    margin-block-start: 5rem;
    text-align: start;
  

}
label{
    font-size: 1.5rem;
    color: $white;
    padding: 0.5rem;
}

section.user-disply img{
    width: 2rem;
    position: absolute;
    top: 45%;
    left:2rem;
    transform: translateX(-50%);
}

input{
    width: 18.85rem;
    height: 3.8rem;

    border-radius:5rem;
    padding-left: 3.5rem;
    background: $shade-dark;
    border: 2px solid $white;
    color: $white;
    font-size: 1.5rem;
    
}
input::placeholder{
    font-size: 1.5rem;
 }

.start-btn {
  padding: 1rem 2.5rem;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  background:$shade-dark;
  color: $white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}


// gradient border animation
.start-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 1.1rem;
  background: linear-gradient(
    270deg,
    $green,
    $warm-orange,
    $Liquid-lava
  );
  background-size: 400% 400%;
  animation: borderFlow 10s linear infinite;
  z-index: -1;
}


.start-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: $shade-dark;
  border-radius: 0.9rem;
  z-index: -1;
}



@keyframes borderFlow {
  0%   { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}



// //style quiz container section
// .quiz-container{
//     background: $cool-gray;
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     display: none;
   
// }

// section#quizLayer{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 0 auto;
   
// }
// .time-stamp{
//     position: relative;
//     display: flex;
//     flex-direction: column;
   
//     width: 100%;
//     padding: 2.5rem;

//     background: $quiz-header;
    
// }


// // all num of question VS answered ones
// #progress{
//     position: absolute;
//     top:0.6rem;
//     left: 2.5rem;
//     transform: translateX(-50%);

//     padding:0.5rem 1rem;
//     font-weight: 700;
//     color: $white;
//     font-size: 1.2rem;
// }

// // tpotal time of all question

// p#totalTimer{
//     position: absolute;
//     left: 50%;
//     top: 1rem;
//     transform: translateX(-50%);

//     font-weight: 700;
//     font-size: 1rem;
//     color: $white;
// }


// //stylng timer  for all question

// p#timer{
//     display: flex;
//     position: absolute;
//     top: 5.5rem;
//     right: -1rem;
//     transform:  translateX(-50%);
//     border: 4px solid $green;
//     height: 3.3rem;
//     width: 3.3rem;
    
//     border-radius: 100%;
//     background-color:$shade-dark;
//     font-size: 1.1rem;
  

// }
// // dark mode visibilty above all layer
// .mode-btn   { z-index: 10; display: none;}

// .dvd-cricle{
//     position: fixed;
//     align-items: center;
//     justify-content: center;
//     width: 3rem;
//     height: 3rem;
//    background-color: $shade-dark;
//     z-index: 10;
//     border-radius: 50%;
//     text-align: center;

//     top: 0;
//     left: 0;
//     right: 0;
//     opacity: 0.2;
//     color: $white;
//     font-weight: 700;
//     font-size: 3.1rem;
//     display: none;

//     animation: 
//     moveX 10s linear infinite alternate, 
//     moveY 9s linear infinite alternate;
// }

// img{width: 100%;}

// // animation trigger
// @keyframes moveX{
//     from {left: 0;}
//     to {left: calc(100vw - 0.875rem);}
// }

// @keyframes moveY{
//     from{right: 0;}
//     to{top: calc(100vh - 0.875rem);}
// }



// //styling question layer

// .quiz-question{
// width: 90%;

// display: flex;
// flex-direction: column;
// margin: 0 auto;
// margin-block-start: 4rem;
// }

// h2.question{
//     width: 100%;
//     display: flex;
// }

// .answers{
//     width: 100%;
//     margin-block-start: 2rem;

//     display: grid;
//     grid-template-rows: 1fr 1fr 1fr;
//     gap: 0.4rem;
//     text-align: start;
// }

// .answer{
//     display: flex;
//     align-items: start;
    
//     padding: 0.6rem;
//     border: 2px solid $darrk-green;
//     background: transparent;
//     border-radius: 0.5rem;
// }
// button.answer{
//     color: $darrk-green;
//     font-size: 1.2rem;
// }

// #answers.active{
//  color: $white;
// background-color: $green;
// border: 2px solid rgb(0, 62, 0);
// color: $white;
// }


.quiz-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: $dark-gray;

}

.time-stamp{
    background:$Liquid-lava;
    height: 16.25rem;
    width: 100%;
    border-radius: 0 0 50% 50%;
    img{width: 1rem;}
    
}

.progress{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding-block-start: 1.5rem;
}

p#totalQuiz{
display: flex;
align-items: center;
text-align: center;
gap: 0.3rem;
background: $shade-dark;
color: $white;
padding: 0.3rem 0.5rem;
border-radius: 0.5rem;
font-size: 1rem;
}

p#totalTimer{
    background:$rich-orange ;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: $dark-mode;
}

.quiz-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

   
}

.questionBox{
    position: relative;
    top: -120px;
    width: 90%;
    
    background: #1d124e;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border-radius: 1rem;
    
}

p#timer{
    position: absolute;
    top:-1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background: $dark-gray;
    border: 4px solid $Liquid-lava;
    border-radius: 50%;
    color: $white;
    font-weight: 600;
    font-size: 1.3rem;
}